debian/.debhelper/
debian/bbl-git-lib.substvars
debian/bbl-git-lib/
debian/debhelper-build-stamp
debian/files
out-bbl-git-lib
bdm-build.conf
commit_msg
update-bash-lib-version-strings.log
bdm-script-spl-build-*
tmp-files/
